<header class="mb-2">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div
      class="navbar-collapse d-flex justify-content-between mx-2"
      id="navbarNavDropdown"
    >
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        {% if request.user.userprofile.role == 'WM' %}
        <li class="navbar-nav">
          <a class="nav-link" href="{% url 'add_product' %}">Inventory</a>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" href="{% url 'inbound' %}">Inbound</a>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" href="{% url 'outbound' %}">Outbound</a>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" href="{% url 'register' %}">User Creation</a>
        </li>
      </ul>
      {% endif %}
      <form class="form-inline" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Logout</button>
      </form>
      {% endif %}
    </div>
  </nav>
</header>
