{% extends 'index.html' %} {% block content %}
<h1>Product List</h1>
<table>
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Location</th>
    <th>Quantity</th>
    <th>Category</th>
    <th>Supplier</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.sku }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.location }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.category.name }}</td>
    <td>{{ product.supplier.name }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
