{% extends 'index.html' %} {% block content %}
<h1>Product List</h1>
<a href="{% url 'add_product' %}">Add Product</a>
<form method="GET" action="">
  <input type="text" name="search" placeholder="Search products" />
  <button type="submit" value="Search" class="btn btn-primary">Search</button>
</form>
<table class="table table-bordered table-light">
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Location</th>
    <th>Quantity</th>
    <th>Category</th>
    <th>Supplier</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.sku }}</td>
    <td>
      <a href="{% url 'update_product' product.id %}">{{ product.name }}</a>
    </td>
    <td>{{ product.location }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.category.name }}</td>
    <td>{{ product.supplier.name }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
