{% extends 'index.html' %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h2 class="text-center">Login</h2>
    <form method="post">
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control my-2"
          id="{{ field.id_for_label }}"
          name="{{ field.html_name }}"
          placeholder="{{ field.help_text }}"
        />
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-success my-4">Login</button>
    </form>
  </div>
</div>
{% endblock %}
