{% extends 'index.html' %} {% block content %}
<h1 class="my-4">Operator Home</h1>
<hr class="my-4" />

<h2 class="my-4">Outbounds</h2>
<a href="{% url 'outbound' %}" class="btn btn-primary mb-3"
  >Outbound Operations</a
>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Date Shipped</th>
      <th>Reference</th>
      <th>Product</th>
      <th>SKU</th>
      <th>Quantity</th>
      <th>Destination</th>
      <th>Remarks</th>
    </tr>
    {% for outbound in outbounds %}
    <tr>
      <td>{{ outbound.date_shipped }}</td>
      <td>{{ outbound.reference }}</td>
      <td>{{ outbound.product.name }}</td>
      <td>{{ inbound.product.sku }}</td>
      <td>{{ outbound.quantity }}</td>
      <td>{{ outbound.destination }}</td>
      <td>{{ outbound.remarks }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<hr class="my-4" />

<h2 class="my-4">Inbound Operations</h2>
<a href="{% url 'inbound' %}" class="btn btn-primary mb-3"
  >Go to Inbound Operations</a
>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Date Received</th>
      <th>Reference</th>
      <th>Product</th>
      <th>SKU</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Location</th>
      <th>Remarks</th>
    </tr>
    {% for inbound in inbounds %}
    <tr>
      <td>{{ inbound.date_received }}</td>
      <td>{{ inbound.reference }}</td>
      <td>{{ inbound.product.name }}</td>
      <td>{{ inbound.product.sku }}</td>
      <td>{{ inbound.quantity }}</td>
      <td>{{ inbound.supplier.name }}</td>
      <td>{{ inbound.location }}</td>
      <td>{{ inbound.remarks }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
